/* Loader style */
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loader-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1.5s ease-in-out infinite;
  }

  .loader-circle:before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 8px solid #7e3af2;
    border-color: #109BD4 transparent #109BD4 transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
     0% {
       transform: scale(0.8);
       opacity: 0.5;
     }
     50% {
       transform: scale(1);
       opacity: 1;
     }
     100% {
       transform: scale(0.8);
       opacity: 0.5;
     }
   }
/* Loader style ends here */

/* Logo */
.logo .brand-text{
    font-family: 'Baloo Chettan';
    font-size: 30px;
    font-weight: 700;
    line-height: 27px; 
}
.logo img {
    width: 7rem;
}
/* Logo ends */

/* Footer */
.multi {
    font-size: 45px;
}
/* Footer */

@media screen and (max-width: 1196px) {
  .brand-text {
    display: none;
  }
  .center-desk .logo {
    justify-content: center !important;
  }
  .logo img {
    width: 4rem;
  }
}

@media screen  and (max-width: 766px){
  .banner_main #paddingright {
    padding: none;
 }
}